annotated-types==0.6.0
-e git+https://github.com/castilloglenn/dataflow-animation.git@main#egg=dataflow_animation
pydantic==2.7.0
pydantic_core==2.18.1
pygame==2.5.2
typing_extensions==4.11.0
watchdog==4.0.0
